@model WebAppsConsumeApi.CRUD.Models.TblJurusanModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Jurusan</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddingJurusan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="JurusanId" class="control-label"></label>
                <input asp-for="JurusanId" class="form-control" />
                <span asp-validation-for="JurusanId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NamaJurusan" class="control-label"></label>
                <input id="nmJurusan" asp-for="NamaJurusan" class="form-control" />
                <span asp-validation-for="NamaJurusan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskripsiJurusan" class="control-label"></label>
                <input id="descJurusan" asp-for="DeskripsiJurusan" class="form-control" />
                <span asp-validation-for="DeskripsiJurusan" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="button" id="submit" value="Create" class="btn btn-primary" /> 
                <a class="btn btn-primary" asp-controller="Jurusan" asp-action="IndexJurusan">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    /*******************************************************/
    /* NATIVE JAVASCRIPT WITH JQUERY AJAX FRAMEWORK VERION */
    /*******************************************************/
    let submit = document.getElementById('submit');
    submit.addEventListener('click', function(){
        let postUrl = '@(Url.Action("AddingJurusan", "Jurusan"))';
        let curDate = moment().format('YYYY/MM/DD');
        let postData = {
            JurusanId : 0,
            NamaJurusan : $('#nmJurusan').val(),
            DeskripsiJurusan : $('#descJurusan').val(),
            CreatedTime : curDate,
            IsActive : true
        };

         $.ajax({
            url : postUrl,
            type : 'POST',
            data : postData,
            success: function(data, status, xhr) {
                Swal.fire({
                    icon: 'success',
                    title: 'Successfully Insert',
                    text: data.responseMessage,
                    footer: data.responseBody.content
                });

                setTimeout(function(){
                    window.location.href = '@(Url.Action("IndexJurusan", "Jurusan"))';
                }, 1500);

                clearTimeout(1500);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                if(jqXhr.readyState === 4 && textStatus === 'error'){
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: jqXhr.responseText
                    });
                }
            }
        });
    }, false);
    /***********************************************************/
    /* END NATIVE JAVASCRIPT WITH JQUERY AJAX FRAMEWORK VERION */
    /***********************************************************/

    /*********************************************/
    /* JQUERY FRAMEWORK WITH JQUERY AJAX VERION */
    /*********************************************/
    //$(document).ready(function(){
    //    $('#submit').on('click', function() {
    //        let postUrl = '';
    //        let curDate = moment().format('YYYY/MM/DD');
    //        let postData = {
    //            JurusanId : 0,
    //            NamaJurusan : $('#nmJurusan').val(),
    //            DeskripsiJurusan : $('#descJurusan').val(),
    //            CreatedTime : curDate,
    //            IsActive : true
    //        };

    //        $.ajax({
    //            url : postUrl,
    //            type : 'POST',
    //            data : postData,
    //            success: function(data, status, xhr) {
    //                Swal.fire({
    //                    icon: 'success',
    //                    title: 'Successfully Insert',
    //                    text: data.responseMessage,
    //                    footer: data.responseBody.content
    //                });

    //                setTimeout(function(){
    //                    window.location.href = '';
    //                }, 1500);

    //                clearTimeout(1500);
    //            },
    //            error: function(jqXhr, textStatus, errorMessage) {
    //                if(jqXhr.readyState === 4 && textStatus === 'error'){
    //                    Swal.fire({
    //                        icon: 'error',
    //                        title: 'Oops...',
    //                        text: 'Something went wrong!',
    //                        footer: jqXhr.responseText
    //                    });
    //                }
    //            }
    //        });
    //    });
    //});
    /************************************************/
    /* END JQUERY FRAMEWORK WITH JQUERY AJAX VERION */
    /************************************************/
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DateWithMomentJsPartial");}
    @{await Html.RenderPartialAsync("_SwertAlert2Partial");}
}
